:root {
    --dark-accent-color: #472183;
    --header-background: #f1f6f5;
    --light-accent-color: #82c3ec;
    --icon-color: #4b56d2;
    --text-color: #505050;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
    min-height: 100vh;
}

#header {
    grid-area: 1 / 1 / 2 / 3;
    background-color: var(--dark-accent-color);
    color: white;
    height: 100px;
}

#sidebar {
    background-color: var(--dark-accent-color);
    color: white;
    grid-area: 2 / 1 / 3 / 2;
    min-width: 200px;
}

#task-section {
    grid-area: 2 / 2 / 3 / 3;
    background: var(--header-background);
    color: var(--text-color);
    padding: .5rem;
}

#task-wrapper {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    justify-content: center;
}

li {
    display: flex;
}

