:root {
    --dark-accent-color: #472183;
    --dark-accent-color-light: #6c4d9c;
    --dark-accent-color-dark: #391a69;
    --header-background: #f1f6f5;
    --light-accent-color: #82c3ec;
    --cancel-color: #ff4242;
    --icon-color: #4b56d2;
    --text-color: #505050;
    --hover-color: white;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('./fonts/NotoSans-Regular.ttf');
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans';
}

main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: min-content 1fr;
    min-height: 100vh;
}

#header {
    grid-area: 1 / 1 / 2 / 3;
    background-color: var(--dark-accent-color);
    color: white;
    height: min-content;
    padding: 4px 16px;
    margin-bottom: 3px;
    box-shadow: 2px 2px 2px 5px var(--dark-accent-color-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.header-icon:hover {
    background-color: var(--dark-accent-color-light);
    border-radius: 4px;
}
img {
    width: 30px;
    height: auto;
}

.brand-name {
    font-weight: bold;
}

#sidebar {
    background-color: var(--dark-accent-color);
    color: white;
    grid-area: 2 / 1 / 3 / 2;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .25rem;
}

#task-section {
    grid-area: 2 / 2 / 3 / 3;
    background: var(--light-accent-color);
    color: var(--text-color);
    padding: .5rem;
}

#task-wrapper {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    justify-content: center;
}

#task-list {
    background-color: var(--header-background);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px gray;
}

form {
    border: 2px solid var(--icon-color);
    border-radius: 8px;
    padding: 4px;
    margin-top: .5rem;
}

.form-field {
    display: block;
}

.borderless-field {
    background-color: var(--header-background);
    border: none;
    color: var(--text-color);
}

.borderless-field:focus {
    outline: none;
}

#task-name-field {
    font-weight: bold;
    font-size: 1rem;
}

#form-button-div {
    display: flex;
    gap: 12px;
    justify-content: start;
    padding-bottom: 4px;
    padding-top: 4px;
}

#task-date-field, 
#task-priority-field,
#task-project-field {
    background-color: var(--header-background);
    font-family: 'Noto Sans';
    border: 2px solid var(--light-accent-color);
    border-radius: 6px;
    color: var(--text-color);
    font-size: .9rem;
}

#task-priority-field:focus,
#task-date-field:focus,
#task-project-field:focus {
    outline-color: var(--light-accent-color);
}

#task-priority-field:hover,
#task-date-field:hover,
#task-project-field:hover {
    background-color: white;
}

#form-bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--icon-color);
    padding-top: 8px;
    padding-bottom: 8px;
}

#bottom-buttons {
    display: flex;
    gap: 4px;    
}

button {
    border-radius: 6px;
    color: white;
    box-shadow: 1px 2px 2px 2px var(--text-color);
    font-family: 'Noto Sans';
}

.cancel {
    background-color: var(--cancel-color);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;    
    margin: 0;
    padding:0;
}

.task-item:hover {
    background-color: var(--hover-color);
    border-left: 4px solid var(--icon-color);
    padding-left: 8px;
}

#list-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    margin-bottom: .5rem;
    border-bottom: 2px solid black;
}

.item-top, .item-bottom {
    display: flex;
    justify-content: space-between;
}

.item-top {
    color: black;
    font-size: 1.2rem;
    margin-bottom: .25rem;
}

.complete-button, .form-button {    
    background-color: var(--icon-color);   
}

.task-item {
    border-bottom: 1px solid var(--text-color);
    margin-bottom: .25rem;
}

.hide {
    display: none;
}

